{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
    <!-- Playlist section -->
	<section class="playlist-section spad">
		<div class="container-fluid">
			<div class="section-title">
				<h2>Menu Card</h2>
			</div>
			<div class="container">
				<ul class="playlist-filter controls">
					<li class="control" data-filter=".DRINKS">DRINKS</li>
					<li class="control" data-filter=".STARTERS">STARTERS</li>
					<li class="control" data-filter=".MAIN">MAIN</li>
					<li class="control" data-filter=".DESSERTS">DESSERTS</li>
					<li class="control" data-filter="all">ALL</li>
				</ul>
			</div>                                              
			<div class="clearfix"></div>
			<div class="row playlist-area">
            {% for dish in dishes %}
				<div class="mix col-lg-3 col-md-4 col-sm-6 {{dish.category}}">
					<div class="playlist-item">
						<img src="{{asset('images/' ~ dish.image)}}" alt="">
						<h5>{{ dish.name }} - Rs. {{dish.price}}</h5>
					</div>
				</div>
			{% endfor %}	
			</div>
		</div>
	</section>
	<!-- Playlist section end -->

{% endblock %}
